body{
    background-color: #93A8AC;
    font-family:'Trebuchet MS';
}
nav{
    font-size: 24px;
    overflow:hidden;
    width:100%;
    margin: -8px;
    padding:0px;
    background-color: #284B63;
    padding-left: 0px;
    padding-right: 0px;
    position:fixed;
}
nav a {
    text-decoration:none;
    color: white;
    float:left;
    overflow:hidden;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color: #284B63;
}
#currentPage{
    background-color: #F2DC5D;
    color: #424B54;
}
/*#3C6E71*/
#about{
    float:right;
}
nav a:hover:not(#currentPage){
    background-color: #3C6E71;
}
#title{
    text-align: center; 
    font-size:50px;
    margin:20px; 
    border: 3px solid #3C6E71; 
    border-radius: 4px; 
    margin-left: 35%; 
    margin-right: 35%;
}